<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet"
          th:href="@{/css/application.css}"
          href="../../../../target/classes/static/css/application.css"
    >
</head>
<body>
<main class="pt-8 text-center">
    <h1 class="mb-8 text-3xl font-bold uppercase">Tic Tac Toe</h1>

    <div class="grid grid-cols-3 mx-auto w-64 border-black border-solid border-2">
        <div th:each="row : ${board.squares}">
            <div th:each="square : ${row}">
                <div th:replace="fragments :: square(${square.position.x}, ${square.position.y}, ${square.player})"></div>
            </div>
        </div>
    </div>
    <h2 id="result" data-game-state="" class="mt-8 text-2xl font-bold uppercase" th:text="${state}">Game on!</h2>
</main>
<script>
    function splitSquares(squares) {
        var splitSquares = [];
        while (squares.length > 0) {
            splitSquares.push(squares.splice(0, 3));
        }

        return splitSquares;
    }

    function getSquares() {
        var squares = [];
        for (let i = 1; i <= 9; i++) {
            var square = document.getElementById('square_' + i);
            squares.push(square.getAttribute('data-square-value'));
        }
        return squares;
    }

    function selectSquare(event) {
        console.log('clicked!')
        var currentSquare = event.target;

        position = {
            'x': currentSquare.getAttribute('data-x'),
            'y': currentSquare.getAttribute('data-y')
        };

        fetch(`/api/add-square`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(position)
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                data.board.squares.forEach(row => {
                    row.forEach( square => {
                        const el = document.getElementById('square_' + square.x + '_' + square.y);
                        el.firstElementChild.innerText = square.player === 'PLAYER_1' ? 'X' : (square.player === 'PLAYER_2' ? 'O' : '')
                    })
                })
            });
    }

</script>
</body>
</html>
